[Unit]
Description=My Blog App 1 - DEV
After=network.target

[Service]
Type=simple
User=ubuntu
#Group=iaas-api

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rails-blob-webapp-dev1

WorkingDirectory=/var/www/sites/blog/dev1
EnvironmentFile=/var/www/sites/blog/dev1/env/rails-blog-webapp-dev1.env

ExecStart=/usr/bin/bash -lc 'bundle exec puma -C config/puma.rb -e production'

TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
